.product-preview img{
    width: 100%;
}
.btn_add {
    padding: 0;
}
.product-links {
    list-style: none;
}
.card {
    /* background: var(--surface-card);
    padding: 2rem;
   
    margin-bottom: 1rem; */
    border-radius: 50px;
    box-shadow:  0 4px 6px #ccc;
    /* width: 100%; */
}